*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
    font-family: "Roboto Mono", monospace;
}
body{
    background-color: bisque;
}
.container{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.current{
    display: flex;
    flex-direction: column;
    background-color:lightskyblue;
}
.future-weather{
    display: flex;
    justify-content: space-between;
    border-bottom: black solid 1px;
}
